{% load static %}
<header class="header">
        <img src="{% static 'images/logo.png' %}" alt="" class="logoHeader">
        <nav class="menuDesktop">
            <ul>
                <li><a href="{% url 'home' %}" class="itemMenuDesktop">Home</a></li>
                <li><a href="#" class="itemMenuDesktop">Menu</a></li>
                <li><a href="#" class="itemMenuDesktop">Menu</a></li>
                <li><a href="#" class="itemMenuDesktop">Menu</a></li>
            </ul>
        </nav>
    </header>