body{
    padding: 0px 10px;
}

.produtosComparados{

}
.containProdutosRasp{
    display: flex;
    align-items: center;
}
/*.produtoRasp*/
.produtosConcorrentes{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: 100%;
    overflow: hidden;
}
.containProdutosRasp{
    border: 1px solid rgba(0, 0, 0, 0.322);
    overflow: hidden;
}
/*Card produto*/
.cardProduto,.produtoRasp{
    display: flex;
    flex-direction: column;
    width: 220px;
    border: 1px solid #cbcbcb;
    border-radius: 20px;
    padding: 20px 8px;
    height: 260px;
    cursor: pointer;
    transition: 0.2s;
}
.cardProduto:hover{
  transform: translateY(-2px);
}
.cardProduto .imgProduto,.produtoRasp .imgProduto{
    
    width: 80px;
    padding-top: 5px;
    margin: 0 auto;
}
.cardProduto .titleProduto, .produtoRasp .titleProduto{
    font: normal 600 0.7em var(--fontPrimaria);
    color: #000000cc;
    padding: 2px 8px;
}
.cardProduto .conMenorValor .valor, .produtoRasp .conMenorValor .valor{
    font: normal 600 1em var(--fontPrimaria);
    padding: 4px;
}
/*Produtos raspados*/
.produtoRasp{
    background-color: #cbcbcb;
    border-radius: 0px;
}
/* Estilo do fundo escuro */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation: fadeIn 0.3s ease-in-out;
}

/* Conteúdo do modal */
.modal-conteudo {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: slideDown 0.3s ease-in-out;
}

/* Botão de fechar */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover {
  color: #000;
}

/* Animações */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideDown {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}