*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

:root{
    --corPrimaria: rgb(207, 208, 255);
    --corSecundaria: ;
    --corTerciaria: ;

    --fontPrimaria: 'Poppins', Arial, Helvetica, sans-serif;
    --fontSecundaria: ;
    --fontTerciaria: ; 
}
