{% load static %}
{% load meus_filtros %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--Estilos-->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/comparador.css' %}">
</head>
<body>
    
    {% include 'componentes/header.html' %}
    <button onclick="abrirModal()">Abrir Modal</button>

<!-- Estrutura do modal -->
<div id="meuModal" class="modal">
  <div class="modal-conteudo">
    <span class="fechar" onclick="fecharModal()">&times;</span>
    <h2>Olá, John!</h2>
    <p>Esse é seu modal bonitinho 😎</p>
  </div>
</div>

    <h1 class="titlecomparador">Comparar Produto</h1>
    <a href="{{ destino_nao }}" download>Baixar Produtos incompativeis</a>
    <a href="{{ destino_sim }}" download>Baixar Produtos compativeis</a>
    <button onclick="abrirModal('{{resultados_sim}}')">compararValores</button>
    <section class="produtosComparados">
        {% for bloco in comparacoes%}
            <div class="containProdutosRasp">
                <div class="produtoRasp">
                    <img src="{{bloco.principal.imagem}}" alt="" class="imgProduto">
                    <h2 class="titleProduto">{{bloco.principal.nome}}</h2>
                    <span class="conMenorValor">
                        <p class="valor">{{bloco.principal.preco|formata_moeda }}</p>
                    </span>
                </div>
                <div class="produtosConcorrentes">
                    {% for concorrente in bloco.concorrentes %}
                        <div class="cardProduto">
                            <img src="{{concorrente.imagem}}" alt="" class="imgProduto">
                            <h2 class="titleProduto">{{concorrente.nome}}</h2>
                            <span class="conMenorValor">
                                <p class="valor">{{concorrente.preco|formata_moeda }}</p>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>

    <script>
        function abrirModal(resultados_sim) {
            modalCompararValores(resultados_sim)
            document.getElementById("meuModal").style.display = "block";
        }

        function fecharModal() {
            document.getElementById("meuModal").style.display = "none";
        }

        function modalCompararValores(resultados_sim){
            console.log(resultados_sim)
        }
    </script>

</body>
</html>