{% load static %}
{% load meus_filtros %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!--Estilos-->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalhesProduto.css' %}">
</head>
<body>
    {% include 'componentes/header.html' %}
    <h1 class="titleDetalheProduto">Comparar Produto</h1>
    <section class="dadosProduto">
        {% for item in itens %}
        <div class="dads1Produto">
            <img src="{{item.imagemproduto}}" alt="" class="imagemProduto">
        </div>
        
        <div class="dads2Produto">
            <h2 class="nomeProduto">{{item.nomeproduto}}</h2>
           <p class="precoProduto">R$ {{ item.precoproduto|formata_moeda  }}</p>

        </div>
        {% endfor %}
    </section>
    <h2 class="subtitleDetalheProduto">Produtos concorrentes</h2>
    <section class="produtosLoja">
        <div class="containProdutosLoja">
            
                <div class="cardProduto">
                    <pre>{{ item|safe }}</pre>
                    <img src="{{item.imagem}}" alt="" class="imgProduto">
                    <h2 class="titleProduto">{{item.nomeproduto}}</h2>
                    <span class="conMenorValor">
                        <p class="frase">Menor preço via </p>
                        <p class="valor">{{item.precoproduto}}</p>
                        <p class="frase">até 10x de R$302,95</p>
                    </span>
                </div>
          
        </div>
    </section>

    <script>
     
    </script>

</body>
</html>